{% extends '::base.html.twig' %}

{% block body %}

	<section class="welcome" style="background:#3f51b5;margin-bottom:0;margin-top:0;">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<p class="big">
						Hi ! I'm <strong>Kebhub<sup>&copy;</sup></strong><br/> the free web social app explorer.<br/>
					</p>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non sapien et justo interdum blandit sed nec libero. Maecenas dui sapien, suscipit vitae metus et, auctor dapibus ligula. Proin ultricies magna ex, in tempus mi fermentum nec. Ut dapibus lectus id urna faucibus vulputate. Vivamus at mi lacus. Sed volutpat molestie dui. Donec porttitor diam non iaculis varius.</p>
					<p class="big">
						<a class="scrollTo" href="#features">Our awesome features <i class="fa fa-arrow-down"></i></a>
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section id="features" class="front_marketing">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="">Some greats functions from <strong>KEBHUB.</strong></h2>
					<div class="col-sm-4 col-xs-6">
						<h4 class="icon_rounded"><i class="fa fa-compass"></i></h4>
						<h3>Feature title</h3>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu venenatis enim. Phasellus mauris est, convallis vitae consequat.</p>
					</div>
					<div class="col-sm-4 col-xs-6">
						<h4 class="icon_rounded"><i class="fa fa-exchange"></i></h4>
						<h3>Feature title</h3>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu venenatis enim. Phasellus mauris est, convallis vitae consequat.</p>
					</div>
					<div class="col-sm-4 col-xs-6">
						<h4 class="icon_rounded"><i class="fa fa-fire"></i></h4>
						<h3>Feature title</h3>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu venenatis enim. Phasellus mauris est, convallis vitae consequat.</p>
					</div>
					<div class="col-sm-4 col-xs-6">
						<h4 class="icon_rounded"><i class="fa fa-save"></i></h4>
						<h3>Feature title</h3>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu venenatis enim. Phasellus mauris est, convallis vitae consequat.</p>
					</div>
					<div class="col-sm-4 col-xs-6">
						<h4 class="icon_rounded"><i class="fa fa-undo"></i></h4>
						<h3>Feature title</h3>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu venenatis enim. Phasellus mauris est, convallis vitae consequat.</p>
					</div>
					<div class="col-sm-4 col-xs-6">
						<h4 class="icon_rounded"><i class="fa fa-list"></i></h4>
						<h3>Feature title</h3>
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu venenatis enim. Phasellus mauris est, convallis vitae consequat.</p>
					</div>
					<a href="#" class="btn btn-primary" style="border:0;">Creat your account</a>
				</div>
			</div>
		</div>
	</section>

	<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p>© Copyright 2015 - <a href="#">KEBHUB</a></p>
			</div>
			<!-- <div class="col-sm-6 text-right">
				<ul class="list-unstyled list-inline">
			 		<li><a href="">The app</a></li>
			 		<li><a href="">Documentation</a></li>
			 		<li><a href="">Credits</a></li>
			 	</ul>
			</div> -->
	    </div>
	</div>
</footer>


{% endblock %}
